<!DOCTYPE html> 
<html> 
<head> 
    <link rel="stylesheet" href="/assets/style.css"> 
    <title>Contact</title> 
</head> 
<body> 
    <% include partials/nav.ejs %>
    <h1>Contact</h1> 
    <!-- <p><%= qs.dept %></p> 
    <p><%= qs.name %></p>  -->

    <form id="contact-form" method="POST" action="/contact">
        <label for="who">Who do you to contact?</label>
        <input type="text" name="who" value="<%= qs.name %>">
        <br>
        <label for="who">Which departement?</label>
        <input type="text" name="department" value="<%= qs.dept %>">
        <br>
        <label for="email">Your email?</label>
        <input type="email" name="email" value="<%= qs.email %>">
        <br>
        <input type="submit" value="Send">
    </form>
</body> 
</html>